<div class="center-block">
  <h3> <span class="tag tag-default" style="margin-left:600px">算法属性</span></h3>
</div>
<form (ngSubmit)="submit()" enctype="multipart/form-data" id="form">
  <!-- -->
  <div>

    <div class="form-group row">
      <label for="algorithmName" class="col-xs-1 col-form-label" style="margin-left:200px">算法名称：</label>
      <div class="col-xs-6">
        <input class="form-control" type="text" id="algorithmName" required [(ngModel)]="algorithmPara.algorithmName" name="algorithmName">
      </div>
    </div>

    <div class="form-group row">
      <label for="jarName" class="col-xs-1 col-form-label" style="margin-left:200px">jar包名称：</label>
      <div class="col-xs-6">
        <input class="form-control" type="text" id="jarName" required [(ngModel)]="algorithmPara.jarName" name="jarName">

      </div>

    </div>
    <div class="form-group row">
      <label for="outputNumber" class="col-xs-1 col-form-label" style="margin-left:200px">outputNumber：</label>
      <div class="col-xs-6">
        <input class="form-control" type="text" id="outputNumber" required [(ngModel)]="algorithmPara.outputNumber" name="outputNumber">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputSort" class="col-xs-1 col-form-label" style="margin-left:200px">inputSort：</label>
      <div class="col-xs-6">
        <input class="form-control" type="text" id="inputSort" required [(ngModel)]="algorithmPara.inputSort" name="inputSort">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputNumber" class="col-xs-1 col-form-label" style="margin-left:200px">inputNumber：</label>
      <div class="col-xs-6">
        <input class="form-control" type="text" id="inputNumber" required [(ngModel)]="algorithmPara.inputNumber" name="inputNumber">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputClassName" class="col-xs-1 col-form-label" style="margin-left:200px">className：</label>
      <div class="col-xs-6">
        <input class="form-control" type="text" id="inputClassName" required [(ngModel)]="algorithmPara.className" name="inputClassName">
      </div>
    </div>
    <div class="form-group row">
      <label for="Tags" class="col-xs-1 col-form-label" style="margin-left:200px">tags：</label>
      <div class="col-xs-6">
        <input class="form-control" type="text" id="Tags" required [(ngModel)]="algorithmPara.tags" name="Tags">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputDescription" class="col-xs-1 col-form-label" style="margin-left:200px">description：</label>
      <div class="col-xs-6">
        <input class="form-control" type="text" id="inputDescription" required [(ngModel)]="algorithmPara.description" name="inputDescription">
      </div>
    </div>

    <div>
      <h3> <span class="tag tag-default" style="margin-left:600px">参数属性</span></h3>

      <!-- 动态添加参数-->

      <div *ngFor="let i of parameterList">
        <fieldset>
          <legend>参数{{i.count}}</legend>
          <div class="form-group row">
            <label class="col-xs-1 col-form-label" style="margin-left:200px">label：</label>
            <div class="col-xs-6">
              <input class="form-control" type="text" id="label ${ i.count }"  [(ngModel)]="i.label" name="label ${ i.count }" >
            </div>
          </div>

          <div class="form-group row">
            <label class="col-xs-1 col-form-label" style="margin-left:200px">type：</label>
            <div class="col-xs-6">
              <input class="form-control" type="text" id="type {{ i.count }}"  [(ngModel)]="i.types" name="types ${ i.count }" >
            </div>
          </div>

          <div class="form-group row">
            <label class="col-xs-1 col-form-label" style="margin-left:200px">tags：</label>
            <div class="col-xs-6">
              <input class="form-control" type="text" id="tags ${ i.count }"  [(ngModel)]="i.tags" name="tags ${ i.count}" >
            </div>
          </div>

          <div class="form-group row">
            <label class="col-xs-1 col-form-label" style="margin-left:200px">val：</label>
            <div class="col-xs-6">
              <input class="form-control" type="text" id="val ${ i.count }"  [(ngModel)]="i.vals" name="vals ${ i.count }" >
            </div>
          </div>

          <div class="form-group row">
            <label class="col-xs-1 col-form-label" style="margin-left:200px">description：</label>
            <div class="col-xs-6">
              <input class="form-control" type="text" id="description {{ i.count }}"  [(ngModel)]="i.description" name="description ${ i.count }"
              >
            </div>
          </div>
        </fieldset>
        <br>
      </div>
      <div class="offset-sm-8 col-sm-30">
        <button type="button" class="btn btn-primary" (click)="addPara()"> 添加参数 </button>
      </div>

    </div>
    <div class="form-group">
      <label for="InputFile" style="margin-left:200px">选择上传的算法文件：</label>
      <input type="file" (change)="changeListener($event)" class="form-control-file" id="InputFile" name="fname" aria-describedby="fileHelp"
             style="margin-left:200px">
    </div>

    <br>
    <div class="offset-sm-8 col-sm-30">
      <button type="submit" class="btn btn-primary">算法上传</button>
    </div>
  </div>
</form>
