#content
  margin-left: 0
  padding-left: 35px
  width: 85%
  height: 100%
  float: left
  border-left: 2px solid

#task_list
  margin-left: 5%
  width: 40%
  height: 100%
  border: 0px solid
  float: left

#task_list #task_title
  margin: 10% 25% 5%
  float: top
  width: 50%
  text-align: center
  font: 19px bold
  border-bottom: 1px solid

#task_list .task
  padding: 8px 0
  width: 70%
  margin: 2px 15% 0
  text-align: center
  font-size: 17px
  border: 0px solid
  color: #039be5
  background-color: lightgrey

#task_list .task:hover
  text-decoration: underline
  background-color: #CFD8DC

button.delete
  float: right
  margin-top: 2px
  margin-right: .8em
  background-color: gray !important
  color: white

#task_info
  width: 40%
  height: 100%
  border: 0px solid
  float: left

#info_title
  margin: 10% 15% 5%
  float: top
  width: 70%
  text-align: center
  font: 19px bold
  border-bottom: 1px solid

#info
  margin: 0 15%
  width: 70%
  height: 70%
  border: 1px solid silver

.hint
  margin: 0 20%
  font-size: 15px
  color: silver
  text-align: center

.container
  margin-top: 15px
  margin-left: 20px
  height: 500px

.container .task_nav
  height: 100%
  border: 1px solid
  border-radius: 5px
  padding: 0
  border: 2px solid silver

.container .task_nav .title
  width: 100%
  font-size: 20px
  border-bottom: 2px solid
  text-align: center
  padding-top: 10px
  padding-bottom: 10px
  background-color: #eefefe

.list-content
  padding-top: 8px

.list:hover
  background-color: white

.del-label
  font-size: 14px
  margin-top: 5px
  padding: 0 18px
  background-color: orange
  color: white
  border-radius: 10px

.job-info
  margin: 5px 180px 10px 0
  border: 1px dotted
  height: 350px
