<div id="toolbox-list-{{data['key']}}" class="minimized list-category">
  <div class="list-category-header" (click)="changeStat('toolbox-list-'+data['key'])">
    <div class="icon-expand"></div>
    <span class="category-header-icon"><i>图</i></span>
    <div class="category-header-title">
      {{data['key']}}
    </div>
  </div>
  <div class="list-category-content">
    <div  *ngFor="let item of (data['value'])">
      <app-template *ngIf="data['type']==='dir'" [data]="item"></app-template>
      <div class="list-category-item" *ngIf="data['type']==='item'" [class.active]="selectedNodeType===item"
           (click)="itemClicked(item)" title={{item.description}}>
        <span class="list-category-item-text">{{item.name}}</span>
        <div class="list-category-item-icon"></div>
      </div>
    </div>
  </div>
</div>
