<div class="para-wraper">
  <div class="btn-right-close">
    <button class="btn" type="button" (click)="closeRight()">
      <!--<i class="fa fa-angle-double-left" aria-hidden="true"></i>-->
      <i class="fa fa-angle-double-right" aria-hidden="true"></i>
      <!--右向箭头-->
    </button>
  </div>
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#properties" role="tab">Properties</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#project" role="tab">Log</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="properties" role="tabpanel">
      <form *ngIf="selectedNode!=null" (ngSubmit)="onSubmit()" [formGroup]="form"
            class="form-horizontal">
        <app-df-question *ngFor="let question of questions" [question]="question"
                         [form]="form"></app-df-question>
        <div class="form-group">
          <div class="md-offset-4">
            <button class="btn btn-primary" type="submit" [disabled]="!form.valid">保存</button>
          </div>
        </div>
      </form>
      <form *ngIf="selectedRelation!=null" (ngSubmit)="onSubmit()" [formGroup]="form"
            class="form-horizontal">
        <!--todo: 若需要对连线进行参数设置，在此进行-->
      </form>

      <div *ngIf="selectedNode==null&&selectedRelation==null">
        <p>选中算法节点或连线来调节参数</p>
      </div>
    </div>
    <div  class="tab-pane" id="project" role="tabpanel">
      <app-log></app-log>
    </div>
  </div>
</div>
