@media (min-width: 768px)
  #navpane
    position: fixed
    bottom: 50px
    top: 50px !important
    left: 0
    margin-left: 0
    z-index: 1000
    display: block
    overflow-x: hidden
    overflow-y: auto
/*border-right: 1px solid #71b1d1*/

#navpane1
  position: absolute
  top: 0
  bottom: 0
  background-color: #71b1d1

/*侧边导航栏*/
.nav-sidebar
  left: 0
  margin-left: 0
  height: 100%
/*background-color: #eaeaea*/

.nav-sidebar li
  border-bottom: solid 1px #71b1d1
  background-color: #71b1d1

.nav-sidebar li a
  position: relative
  display: block
  padding: 10px 15px
  font-size: 16px
  color: #fff

.nav-item > .nav-link
  padding-left: 10px
  padding-right: 10px
  border-radius: 0

.sidebar-btn
  position: relative
  left: 0
  font-size: 35px

.sidebar-btn-text
  position: relative
  left: 8px
  font-size: 15px

.nav-sidebar li a:hover
  /*color: #fff*/
  background-color: #7cc1de

.nav-sidebar li a:focus
  color: #000
  background-color: #fff

.nav-sidebar li a:active
  color: #000
  background-color: #fff

#nav-menu.dropdown-toggle::after
  display: none

.navpane-expanded
  width: 200px

.navpane-collasped
  width: 75px
