<nav class="navbar navbar-default bg-inverse1 navbar-fixed-top">
  <div class="float-xs-left btn-group">
    <button id="nav-menu" type="button" class="btn dropdown-toggle btn-toggle1" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-left dropdown-menu1">
      <a class="dropdown-item" [routerLink]="['/craft']">新建任务</a>
      <a class="dropdown-item" [routerLink]="['/algo-up']">上传算法</a>
      <a class="dropdown-item" [routerLink]="['/history']">查看历史任务</a>
    </ul>
  </div>

  <a href="/" class="navbar-brand title">
    <!--todo: 路径问题-->
    ICT中科院计算技术研究所
    <!--<img id="img-logo" src="app/navbar.component/logo1.jpg" width="220" height="50" class="d-inline-block align-top">-->
  </a>
</nav>
