/*顶部导航栏*/
.navbar-brand
  position: fixed
  left: 60px
  padding-left: 0

.bg-inverse1
  background-color: #343a41
/*background-image: url("app/navbar.component/logo2.jpg")*/


.navbar-fixed-top
  height: 50px

/*标题*/
.title
  color: #eee

/*下拉菜单按钮*/

#nav-menu.dropdown-toggle::after
  display: none

#nav-menu.btn
  height: 50px
  position: fixed
  top: 0px
  border-radius: 0

.btn-primary
  color: #fff
  background-color: #343a41
  border-color: #343a41

.btn-group > .btn
  position: fixed
  left: 0px

.btn-toggle1
  color: #fff
  background-color: #343a41

#nav-menu:hover
  background-color: #48525e !important

#nav-menu:focus
  background-color: #48525e !important

#nav-menu:active
  background-color: #48525e !important


.dropdown-menu-left
  position: fixed
  top: 46px

.dropdown-toggle
  font-weight: bold

.dropdown-menu1
  background-color: #48525e

.dropdown-item
  color: #eee

.dropdown-item:hover
  background-color: #55606e
