<div [formGroup]="form" class="form-group">
  <label class="col-md-4 control-label" [attr.for]="parameter.label" style="padding-left: 5px; padding-right: 5px;">
    <small>{{parameter.label}}</small>
  </label>
  <div class="col-md-8" [ngSwitch]="parameter.controlType">
    <input class="form-control input-sm" *ngSwitchCase="'text'" [formControlName]="parameter.label"
           [id]="parameter.label">
    <input class="form-control input-sm" *ngSwitchCase="'float'" [formControlName]="parameter.label"
           [id]="parameter.label">
    <input class="form-control input-sm" *ngSwitchCase="'int'" [formControlName]="parameter.label"
           [id]="parameter.label">
    <select class="form-control input-sm" [id]="parameter.label" *ngSwitchCase="'select'"
            [formControlName]="parameter.label">
      <option *ngFor="let opt of parameter.options; let i = index" [value]="i">{{opt}}</option>
    </select>
  </div>
  <div class="errorMessage" *ngIf="!isValid">{{parameter.label}} is required</div>
</div>
