.path {
  stroke: black;
  stroke-width: 2px;
}
.drawboard {
  border: 1px black solid;
}
.renderable {
  stroke-width: 1px;
  stroke: gray;
}
.data-source {
  stroke-width: 1px;
  stroke: gray;
  fill: #ccccff;
}
.process {
  stroke-width: 1px;
  stroke: gray;
  fill: #ffcccc;
}
.hidden {
  stroke-width: 0px;
}
.selected {
  stroke: yellow;
}
.menu {
  position: absolute;
  display: none;
  width: 100px;
  z-index: 9000;
}
.menu-item {
  padding-top: 5px;
  padding-bottom: 5px;
}
.menu-body {
  box-shadow: 1px 1px 2px #0f0f0f;
  border-radius: 5px;
}
