#content {
  margin-left: 0;
  padding-left: 35px;
  width: 85%;
  height: 100%;
  float: left;
  border-left:2px solid;
}

#task_list{
    margin-left: 5%;
    width: 40%;
    height: 100%;
    border: 0px solid;
    float: left;
}

#task_list #task_title{
    margin: 10% 25% 5%;
    float: top;
    width: 50%;
    text-align: center;
    font: 19px bold;
    border-bottom: 1px solid;
}

#task_list .task{
    padding: 8px 0;
    width: 70%;
    margin: 0 15%;
    text-align: center;
    font-size: 17px;
    border: 0px solid;
    color: #039be5;
}

#task_list .task:hover{
    text-decoration: underline;
    background-color: #CFD8DC;
}

#task_info{   
    width: 40%;
    height: 100%;
    border: 0px solid;
    float: left;
}

#info_title{
    margin: 10% 15% 5%;
    float: top;
    width: 70%;
    text-align: center;
    font: 19px bold;
    border-bottom: 1px solid;
}

#info {
    margin: 0 15%;
    width: 70%;
    height: 70%;
    border: 1px solid silver;
}

.hint{
    margin: 0 20%;
    font-size: 15px;
    color: silver;
    text-align: center;
}