<div class="center-block">
    <h1> <span  class="tag tag-default" style="margin-left:600px">算法参数</span></h1>
</div>
<form action="" method="POST">
<div>

<div class="form-group row">
  <label for="example-text-input" class="col-xs-1 col-form-label"style="margin-left:200px">算法名称：</label>
  <div class="col-xs-6">
    <input class="form-control" type="text" value="输入算法名称" id="example-text-input" required>
  </div>
</div>

<div class="form-group row">
  <label for="example-text-input" class="col-xs-1 col-form-label"style="margin-left:200px">jar包名称：</label>
  <div class="col-xs-6">
    <input class="form-control" type="text" value="输入jar包名称" id="example-text-input" required>
  </div>
</div>



<div>
<!--
<div class="center-block">
    <h4> <span  class="tag tag-default">算法参数</span></h4>
</div>
-->
<div class="form-group row">
  <label for="example-text-input" class="col-xs-1 col-form-label" style="margin-left:200px">Label：</label>
  <div class="col-xs-6">
    <input class="form-control" type="text" value="输入 Label" id="example-text-input" required>
  </div>
</div>

<div class="form-group row">
  <label for="example-text-input" class="col-xs-1 col-form-label"style="margin-left:200px">Tag：</label>
  <div class="col-xs-6">
    <input class="form-control" type="text" value="输入 Tag" id="example-text-input">
  </div>
</div>

<div class="form-group row">
  <label for="example-text-input" class="col-xs-1 col-form-label"style="margin-left:200px">Type：</label>
  <div class="col-xs-6">
    <input class="form-control" type="text" value="输入 Type" id="example-text-input">
  </div>
</div>

<div class="form-group row">
  <label for="example-text-input" class="col-xs-1 col-form-label"style="margin-left:200px">Val：</label>
  <div class="col-xs-6">
    <input class="form-control" type="text" value="输入 Val" id="example-text-input">
  </div>
</div>

<div class="form-group row">
  <label for="example-text-input" class="col-xs-1 col-form-label"style="margin-left:200px">Description：</label>
  <div class="col-xs-6">
    <input class="form-control" type="text" value="输入 Description" id="example-text-input">
  </div>
</div>
     <div class="offset-sm-8 col-sm-30">
        <button class="btn btn-primary">添加参数</button>
      </div>
</div>
    <div class="form-group">
    <label for="exampleInputFile"style="margin-left:200px">选择上传的算法文件：</label>
    <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp"style="margin-left:200px">
    <!--
    <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
  -->
  </div>

    <br>
     <div class="offset-sm-8 col-sm-30">
        <button  type="submit" class="btn btn-primary">算法上传</button>
      </div>
</div>
</form>
