.path {
  stroke: black;
  stroke-width: 2px;
}
.drawboard {
  border: 1px black solid;
  /*网格*/
  background:
          -webkit-linear-gradient(top, transparent 13px, #e9ecef 14px),
          -webkit-linear-gradient(left, transparent 13px, #e9ecef 14px);
  background-size: 14px 14px;
}
.renderable {
  stroke-width: 1px;
  stroke: gray;
}
.data-source {
  stroke-width: 1px;
  stroke: gray;
  fill: #8080ff;
}
.process {
  stroke-width: 1px;
  stroke: gray;
  fill: #ff8080;
}
.hidden {
  stroke-width: 0px;
}
.selected {
  stroke: #ffff66;
  border: #ffff66;
}
