.title{
    color: #eee;
}
#img-logo{
    position: fixed;
    /*position: absolute;*/
    left:0;
    top:0;
}
.bg-inverse1 {
    background-color: #343a41;
    /*background-image: url("app/navbar.component/logo2.jpg");*/

}

.navbar-fixed-top {
    height: 50px
}

.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
    background-color: #eaeaea;
}
.nav li{
    border-bottom:solid 1px #f5f5f5;
}
.nav li a{
    position: relative;
    display: block;
    padding: 10px 15px;
    font-size: 15px;
}
.nav-sidebar li a:hover{
    /*color: #fff;*/
    background-color: #dddddd;
}

#nav-menu.dropdown-toggle::after {
    display: none;
}

.dropdown-toggle {
    font-weight: bold;
}


#nav-menu.btn {
    padding: 0 16px;
}

#nav-menu:hover, #nav-menu:focus {
    background-color: #2087E1;
    border-color: #343a41;
}

.nav-item > .nav-link {
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
}
