#data-show
  margin-top: 30px
  height: 95.8%
  width: 100%
  position: relative
  .left-col
    height: 100%
    .chart-choose
      height: 20%
      width: 100%
    .table-wrapper
      padding-top: 5px
      height: 80%
      width: 100%
      overflow-y: auto
  .right-col
    height: 100%
