<div *ngIf="open">
    <br>
    <form *ngIf="isRelation==false && openedNode!=null" (ngSubmit)="onSubmit()" [formGroup]="form"
          class="form-horizontal">
        <app-inputs *ngFor="let parameter of openedNode.parameters" [parameter]="parameter"
                    [form]="form"></app-inputs>
        <div class="form-group">
            <div class="col-md-offset-4">
                <button class="btn btn-primary" type="submit" [disabled]="!form.valid">保存</button>
            </div>
        </div>
    </form>
    <!--storm连线属性-->
    <form *ngIf="isRelation==true" (ngSubmit)="onSubmit()" class="form-horizontal">
        <div class="form-group">
            <label for="grouping">grouping</label>
            <select class="form-control" id="grouping"
                    required
                    [(ngModel)]="relationAttr.grouping" name="grouping">
                <option *ngFor="let op of groupiongOption" [value]="op">{{op}}</option>
            </select>
        </div>
        <div *ngIf="relationAttr.grouping=='fieldsGrouping'"class="form-group">
            <label for="fields">Alter Ego</label>
            <input type="text" class="form-control" id="fields"
                   [(ngModel)]="relationAttr.fields" name="fields">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

<div *ngIf="openedNode==null">
    <p>选中算法节点来调节参数</p>
</div>
