.drawboard-wrapper
  position: relative
  height: 100%

.taskname-wrap
  border-width: 0
  overflow: hidden
  height: 44px
  float: left
  width: 90%
  background-color: #f2f2f2
  border-bottom: solid 0.1px darkgrey

.drawboard-header
  position: absolute
  width: 100%
  font: 200 22px "Segoe UI"
  background-color: #f2f2f2

.drawboard-body
  top: 44px
  width: 100%
  height: 100%
  position: absolute
  bottom: 0
  overflow-y: auto
  overflow-x: auto
  /*网格*/
  //background: -webkit-linear-gradient(top, transparent 13px, #e9ecef 14px), -webkit-linear-gradient(left, transparent 13px, #e9ecef 14px)
  //background-size: 14px 14px

.drawboard
  background-color: #f2f2f2
  float: left
