.drawboard-wrapper
  height: 100%

.taskname-wrap
  border-width: 0
  position: absolute
  overflow: hidden
  height: 44px
  width: 100%
  background-color: #f2f2f2

.drawboard-header input
  font: 200 28px "Segoe UI"

.drawboard-body
  top: 44px
  width: 100%
  position: relative
  bottom: 0
