<div class="drawboard-wrapper">
  <div class="drawboard-header">
    <input #newName class="taskname-wrap" type="text" [(ngModel)]="taskName" (change)="setTaskName(newName.value)">
  </div>
  <div class="drawboard-body">
    <svg id="drawboard" width="100%" height="100%">
      <defs>
        <marker id="mark-end-arrow" viewBox="0 -5 10 10" refX="7" markerWidth="3.5" markerHeight="3.5" orient="auto">
          <path d="M0,-5L10,0L0,5" style="fill:gray"></path>
        </marker>
      </defs>
    </svg>
  </div>
</div>
