
<div id="data-show">
    <div>
        <div id="task" >
            <app-task></app-task>
        </div>
        <br>
        <br>
        <br>
    </div>
    <h5>选择图的类型:</h5>
    <br>
    <div>
        <button class="btn" (click)="setType(1)">Bar</button>
        <button class="btn" (click)="setType(2)">Pie</button>
    </div>
    <br>


    <div class="col-md-8" [ngSwitch]="type">
        <div id="main" style="height:600px;width: 1000px; margin-left: 300px;float: left;">
            <app-bar *ngSwitchCase="1"></app-bar>
            <app-pie *ngSwitchCase="2"></app-pie>
        </div>
    </div>



</div>
