<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" href="#dataSources" role="tab" data-toggle="tab">数据源</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#algorithms" role="tab" data-toggle="tab">算法列表</a>
    </li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="dataSources">
        <div class="list-group">
            <a class="list-group-item" *ngFor="let dataSourceType of dataSourceTypes" [class.active]="selectedNodeType===dataSourceType"
                (click)="itemClicked(dataSourceType)">
                <h5 class="list-group-item-heading">{{ dataSourceType.label }}</h5>
                <p class="list-group-item-text">上传时间: {{ "2016-2-2" }}</p>
            </a>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="algorithms">
        <div class="list-group">
            <li id="tree" >
                <div id="zhaoli" class="triangle-expanded icon-expand"></div>
                <span id="top1" [hidden]='isHidden()' class="title expanded ">聚类算法</span>
                <ul class="second1">
                    <li class="list-group-item xe-paletteItemText" *ngFor="let processType of processesTypes" (click)="itemClicked(processType)" [class.active]="selectedNodeType===processType"
                        (dblclick)="itemDbClicked(processType)" data-toggle="tooltip" title={{processType.description}}>
                        <h6 class="list-group-item-heading">{{ processType.label }}
                            <span style="margin-right: 5px;" class="label label-info pull-right" *ngFor="let tag of processType.tags">{{tag}}</span>
                        </h6>
                    </li>
                </ul>
            </li>
        </div>
    </div>
</div>

<!--<h4>-->
<!--<span><button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-refresh"></i></button></span>-->
<!--数据源-->
<!--</h4>-->

<!--<h4>-->
<!--<span><button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-refresh"></i></button></span>-->
<!--算法列表-->
<!--</h4>-->