<h4>
  <span><button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-refresh"></i></button></span>
  数据源
</h4>

<div class="list-group">
  <a class="list-group-item" *ngFor="let dataSourceType of dataSourceTypes"
     [class.active]="selectedNodeType===dataSource"
     (click)="itemClicked(dataSourceType)">
    <h5 class="list-group-item-heading">{{ dataSourceType.label }}</h5>
    <p class="list-group-item-text">上传时间: {{ dataSourceType.upload_date||"2016-2-2" }}</p>
  </a>
</div>
<h4>
  <span><button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-refresh"></i></button></span>
  算法列表
</h4>
<div class="list-group">
  <a class="list-group-item" *ngFor="let processType of processesTypes" (click)="itemClicked(process)"
     [class.active]="selectedNodeType===processType" (dblclick)="itemDbClicked(process)">
    <h5 class="list-group-item-heading">{{ processType.label }}
      <span style="margin-right: 5px;" class="label label-info pull-right"
            *ngFor="let tag of processType.tags">{{tag}}</span>
    </h5>
    <p class="list-group-item-text">{{ processType.description||"这是一种算法" }}</p>
  </a>
</div>
