<div class="row">
  <div class="col-md-3">
    <app-toolbox></app-toolbox>
  </div>
  <!--todo: 显示不正确-->
  <div [ngClass]="{'col-md-9': !ifNeedShowParameter(), 'col-md-7': ifNeedShowParameter()}">
    <app-drawboard></app-drawboard>
  </div>
  <div class="col-md-2" [hidden]="!ifNeedShowParameter()">
    <app-parameters></app-parameters>
  </div>
</div>
<hr/>
<div class="pull-right">
  <!--<button class="btn btn-danger" (click)="clean()">清空</button>-->
  <button class="btn btn-primary">提交运行</button>
</div>
