<div class="experiment-container">
  <div style="position: relative;height: 100%;">
    <div class="transition-width" [ngClass]="{'left': !isOpenLeftPane, 'col-l': isOpenLeftPane}">
      <app-toolbox #toolbox [hidden]="!isOpenLeftPane"></app-toolbox>
      <i [hidden]="isOpenLeftPane" class="fa fa-angle-double-right" aria-hidden="true" (click)="openLeft()"></i>
    </div>
    <div class="col-c"
         [ngClass]="{'col-1': !isOpenRightPane && !isOpenLeftPane,'col-2': (!isOpenRightPane && isOpenLeftPane)||(isOpenRightPane && !isOpenLeftPane), 'col-3': isOpenRightPane&&isOpenLeftPane}">
      <app-drawboard></app-drawboard>
    </div>
    <div class="transition-width" [ngClass]="{'col-r':isOpenRightPane, 'right':!isOpenRightPane}">
      <app-parameters [hidden]="!isOpenRightPane"></app-parameters>
      <i [hidden]="isOpenRightPane" class="fa fa-angle-double-left" aria-hidden="true" (click)="openRight()"></i>
    </div>
  </div>
  <!--<div id="bottom-btn" class="row" style="right: 40px;position: absolute;bottom: 10px;">-->
  <!--<div class="float-xs-right">-->
  <!--<button class="btn btn-primary" (click)="onSubmitClick()">提交运行</button>-->
  <!--<button class="btn btn-primary" [routerLink]="['/result-show']">结果可视化</button>-->
  <!--</div>-->
  <!--</div>-->
</div>

