#taskname-wrap {
  background-color: #2196f3;
  span {
    font-size: 25px;
    color: #FFFFFF;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  input {
    font-size: 25px;
    text-align: center;
  }

}

.row {
  margin-bottom: 10px;
}