<!--<div class="center">
    <h3> <span class="tag tag-default" style="margin-left:600px">算法管理</span></h3>
    <br>
    <br>
</div>
-->
<head>
  <link rel="stylesheet" href="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<br><br>
<div class="treediv">
  <Tree  #tree [(nodes)]="nodes" [options]="treeOptions" (onActivate)="onEvent($event)" >
    <template #treeNodeTemplate let-node>
      <span id="treeSpan">{{ node.data.name }}</span>
      <!--
      <button data-toggle="modal" data-target="#myModal" (click)="addNode(node.data.id)" class="glyphicon glyphicon-plus"  ></button>
      <button (click)="remove(node.data.id)" ><i class="glyphicon glyphicon-minus"></i></button>
      -->
      <i data-toggle="modal" data-target="#myModal" (click)="addNode(node.data.id)" class="glyphicon glyphicon-plus"></i>
      <i (click)="remove(node.data.id)" class="glyphicon glyphicon-minus"></i>
      <i data-toggle="modal" data-target="#myModal" (click)="editNode(node)" class="glyphicon glyphicon-pencil"></i>
    </template>
  </Tree>
</div>

<form [hidden]="false"
      class="modal" id="myModal" tabindex="-1" role="dialog"
      aria-labelledby="myModalLabel" aria-hidden="true"
      style="top: 150px;">
  <div class="modal-content" >
    <div class="col-md-7 offset-sm-3 " >
      <fieldset>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
          <h4 class="modal-title text-lg-center">
            节点属性
          </h4>
        </div>

        <div class="offset-sm-3 ">
          <div>
            <br>
            <label class="col-md-3">名称：</label>
            <input id="nameId" placeholder="请输入名称" [(ngModel)]="nodeName" name="nameId" autocomplete="off">
            <br>
            <br>
          </div>
          <div>
            <label class="col-md-3">是否显示：</label>
            <input id="yes" type="radio" name="show" value="是" checked (click)="selected()"> 是
            <input id="no" type="radio" name="show" value="否" (click)="selected()"> 否
            <br>
          </div>
          <br>
          <div>
            <label class="col-md-3">图标上传：</label>
            <input type="file" name="imagename">
            <br>
          </div>
          <br>
        </div>
        <div class="modal-footer">
          <button *ngIf="isEdit==false" (click)="save()" data-dismiss="modal" class="btn btn-primary">保存</button>
          <button *ngIf="isEdit==true" (click)="editSave()" data-dismiss="modal" class="btn btn-primary">保存修改</button>
          <button (click)="cancel()"  data-dismiss="modal" class="btn btn-secondary">取消</button>
        </div>
        <br><br>

      </fieldset>
    </div>
  </div>
</form>
