@media (min-width: 0)
  #drawer
    width: auto
    left: 0
    right: 0
    margin-left: 0

#drawer
  position: fixed
  bottom: 0

.drawer
  z-index: 2000

//.drawer-inner
//  height: 50px

.drawer .drawer-inner
  position: relative

.drawer-inner .drawer-inactive
  display: none

.drawertaskbar
  background-color: #343a41
  height: 55px
  position: relative


.drawertaskbar li
  list-style: none

.btn-new
  position: absolute
  left: 0
  height: 55px
  padding: 0 28px
  width: 120px
  background-color: #343a41
  color: #fff
  border-color: #343a41

.btn-new-fa
  line-height: 55px
  vertical-align: middle

.btn-new-text
  line-height: 55px
  font-size: 15px
.btn-new:hover
  background-color: #48525e

.btn-group-func
  text-align: center
  margin: 0px auto
  width: 500px
  doverflow: hidden
  display: inliine-block


.func-style
  margin-top: 10px
  height: 45px //add eql drawer-height
  color: #fff
  float: left
  width: 100px
  //background-color: #343a41

.func-btn
  font-size: 25px

.func-text
  font-size: 13px

.drawermenu
  display: block
  background-color: #343a41
  overflow: hidden
  position: relative
  height: 800px

.btn-close-right
  height: 70px

.btn-close
  position: absolute
  right: 10px
  line-height: 70px
  background-color: #343a41
  color: #fff
.menu-new
  position: absolute
  left: 35px
  line-height: 70px
  font-size: 20px
  color: #71b1d1

.drawer-navpane
  position: absolute
  bottom: 0
  top: 70px //等同于上方menu-new-height
  left: 0
  width: 180px
  margin-left: 0
  z-index: 1000
  display: block
  overflow-x: hidden
  overflow-y: auto

  //

.drawer-sidebar li a
  position: relative
  display: block
  padding: 10px 15px
  font-size: 16px
  color: #fff
  border-right: 1px solid #48525e

.nav-item > .nav-link
  padding-left: 10px
  padding-right: 10px
  border-radius: 0
.drawer-sidebar li a:hover
  background-color: #48525e

.drawer-btn
  position: relative
  left: 10px
  font-size: 30px
.drawer-btn-text
  position: relative
  left: 15px
  font-size: 13px

.drawer-content
  float: none
  position: absolute
  left: 180px
  overflow: auto
  width: 100%
  height: 100%
  padding-top: 0

.note-lists
  width: 100%
  padding-right: 50px
  height: calc(100% - 61px)
  margin-top: 25px
  align-content: flex-start
  overflow-x: auto
  line-height: 1.428571429

.card-lists
  width: 100%
  margin-bottom: 15px

.card-item
  background-color: #fff
  cursor: pointer
  margin: 12px 24px 12px 24px
  width: 230px
  height: 285px
  box-sizing: border-box
  text-align: center
  overflow: hidden

.card-item-btn
  font-size: 70px

.card-item-text
  font-size: 15px
.blankex
  margin-top: 100px
  color: grey

.local-file
  width: 500px
  height: calc(100% - 61px)
  align-content: flex-start
  overflow-x: auto

.local-file-btn
  width: 180px
  float: left
  margin-left: 0
  z-index: 1000
  display: block
  overflow-x: hidden
  overflow-y: auto

.local-file-text
  padding: 18px 25px
  font-size: 16px
  float: left
  color: #fff

.custom-modules
  width: 100%
  height: 60px
  align-content: flex-start
  overflow-x: auto

.custom-modules-btn
  width: 180px
  float: left
  margin-left: 0
  z-index: 1000
  display: block

.custom-modules-text
  padding: 18px 25px
  font-size: 16px
  float: left
  color: #fff

.module-input
  width: 600px
  margin: 12px 24px 12px 24px
  .btn
    background-color: #ffffff
    color: #48525e
    border: none

.modules-note-lists
  width: 100%
  padding-right: 50px
  height: calc(100% - 121px)
  margin-top: 25px
  align-content: flex-start
  overflow-x: auto
  line-height: 1.428571429
  border-bottom: 1px solid #fff
  .card-item
    float: left
